@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes/TTLakes-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "TTLakes";
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}

.head {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: 88px;
}

.head__info-left {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 18.59px;
}

.head__info-left::after {
  content: "";
  width: 1px;
  background-color: #eaeaea;
  height: 35px;
  position: relative;
  left: 5px;
  bottom: 10px;
}

.head__info-left-icon {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-right: 0px;
}

.head__info-right {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px;
  margin-left: -13px;
  margin-right: 40px;
  margin-top: 18.59px;
}

.head__info-right-icon {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-right: 0px;
}

.main-info {
  background-color: #f8f8f8;
}

.main-info__main-menu {
  margin-top: 17px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.main-info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  white-space: nowrap;
}

.main-info__wrapper {
  display: flex;
  align-items: center;
}

.main-info__heading {
  font-family: "TTLakes";
  font-weight: bold;
  font-style: bold;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #7e7e82;
}

.main-info__menu-ul-item:nth-child(1) {
  color: rgb(97, 244, 247);
  border: 2px solid;
  border-radius: 6px;
}

.main-info__menu-ul-item:first-of-type:hover {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.main-info__menu-ul {
  display: flex;
  white-space: nowrap;
  margin-left: 17px;
  margin-top: 7px;
  padding: 0;
  text-align: center;
}

.main-info__menu-ul-item:nth-child(1) {
  border: 2px solid;
  border-color: #b8ffec;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 17px;
  height: 40px;
  box-sizing: border-box;
  margin-top: -7px;
}

.main-info__cps {
  font-family: "TTLakes";
  font-size: 17px;
  text-align: start;
}

.main-info__text {
  margin-top: 0;
  margin-bottom: 15px;
}

.main-info__next-info {
  margin-left: 15px;
}

.main-info__next-info::before {
  content: ">>";
  position: absolute;
  color: #41f6d7;
  transform: rotate(90deg);
}

.main-info__visible-text-block {
  margin-top: 10px;
  margin-left: 15px;
}

.main-info__pic-320 {
  margin-bottom: 27px;
  max-width: 100%;
  margin-bottom: 27px;
}

.main-info__read-more {
  border: none;
  background-color: transparent;
  font-family: "TTLakes";
  font-style: normal;
  font-size: 16px;
  color: #1b1c21;
  line-height: 24px;
  position: absolute;
  margin-left: 20px;
}

.head__info-right-disp768,
.head__info-chat {
  display: none;
}

.main-info__visible-text,
.main-info__hidden-text {
  display: none;
}

.main-info__pic-768 {
  display: block;
  border-radius: 7px;
  margin-bottom: 27px;
  max-width: 100%;
}

.main-info {
  border-top: 1px solid;
  border-color: #b8ffec;
}

.main-info__menu-ul {
  gap: 25.38px;
  margin-left: 25px;
}

.main-info__icons-text {
  margin-right: 10px;
}

.main-info__icons-text-descr {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-right: 0px;
}

.main-info__icons {
  margin-left: 450px;
}

.main-info__pic-320 {
  width: -webkit-fill-available;
}

.main-info,
.head {
  width: 100%;
  max-width: 1120px;
}

.main-info__title::before {
  content: "";
  width: 4px;
  background-color: aqua;
  height: 35px;
  position: relative;
  padding-left: 3px;
  border-radius: 7px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .head__info-left::after {
    display: none;
  }

  .main-info__main-menu {
    min-width: 768px;
  }

  .main-info__title {
    justify-content: start;
  }

  .main-info__title::before {
    margin-left: 7px;
    padding-left: 0px;
  }

  .main-info__icons {
    display: none;
  }

  .main-info__final-text {
    display: none;
  }

  .main-info__hidden-text {
    display: block;
  }

  .main-info {
    margin-right: 15px;
  }

  .main-info__text {
    margin: 0;
    width: 312px;
  }

  .main-info__photo {
    width: 360px;
  }

  .main-info__main-menu {
    margin-top: 32px;
  }

  .head__info-left-disp768::before {
    content: "";
    width: 1px;
    background-color: #eaeaea;
    height: 35px;
    position: relative;
    left: 25px;
    bottom: 10px;
  }

  .head__info-left-disp768 {
    margin-left: 30px;
  }

  .head__info-left-disp320::after {
    content: "";
    width: 1px;
    background-color: #eaeaea;
    height: 35px;
    position: relative;
    left: 25px;
    bottom: 10px;
  }

  .head__info-right-disp768,
  .head__info-chat {
    display: block;
  }

  .main-info__cps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 14px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 16px;
  }

  .head__info-right-request::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #eaeaea;
    height: 35px;
    position: relative;
    left: -14px;
    bottom: 10px;
  }

  .head__info-right-request {
    margin-left: 20px;
  }

  .head__info-left::before {
    content: "";
    width: 1px;
    background-color: #eaeaea;
    height: 35px;
    position: relative;
    left: 80px;
    bottom: 10px;
  }
}

@media (min-width: 1120px) {
  .main-info__menu-ul-item:nth-child(5) {
    display: flex;
  }

  .main-info {
    border-top: 0px;
  }

  .main-info__menu-ul-item:nth-child(1) {
    display: flex;
  }

  .main-info__menu-ul-item:nth-child(2) {
    border: 0px;
  }

  .main-info__final-text {
    display: inline;
  }

  .head__info-left-disp768::before {
    display: none;
  }

  .main-info__text {
    width: 500px;
    font-size: 14px;
  }

  .main-info__icons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 27px;
    margin-left: 420px;
  }

  .main-info__icons-text {
    margin-left: 25px;
  }
  .head {
    display: none;
  }

  .main-info__title::before {
    margin-left: 0;
    padding-left: 0px;
  }

  .main-info__menu-ul,
  .main-info__cps {
    margin-left: 33px;
  }
  .main-info__heading {
    margin-left: 30px;
  }

  .main-info {
    margin-top: 42px;
  }

  .main-info__cps {
    margin-top: 0;
  }

  .main-info__menu-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
  }

  .main-info__pic-320,
  .main-info__pic-768,
  .head__info-left,
  .head__info-right {
    display: none;
  }

  .main-info__pic-1120 {
    display: block;
    max-width: 100%;
    border-radius: 7px;
    margin-right: 27px;
    width: 531.5px;
  }

  .main-info__cps {
    display: flex;
    justify-content: space-between;
  }

  .main-info__menu-ul-item:last-child {
    margin-left: 20px;
    margin-top: 10px;
  }
}
